body {
    width: 50%;
}


#show-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 400px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 40px;
}

p {
    font-size: 30px;
}


div {
    justify-content: center;
}